.App {
  padding: 50px 100px;
}

.searchForm input {
  border: 2px solid blue;
  padding: 10px;
  font-size: 18px;

}

.searchForm button {
  background-color: chocolate;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: 0;
}

.recipe-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin: 10px 0;
}

.recipe {
  width: 300px;
  height: 300px;
  overflow-y: auto;
  padding: 25px;
  border-radius: 10px;
  margin: 10px;
  background-color: #e7e8e7;
  position: relative;
}

.recipe a {
  text-decoration: none;
  background-color: rgb(3, 80, 9);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px 0 0;
}

.recipe title {
  font-size: 15px;
  margin-top: 20px;
  font-weight : 400;
  display: flex;
  align-items: flex-start;
}

.recipe .title .img{
  margin-right: 20px;

}

.recipe ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  padding: 0;
}

.recipe li{
  margin: 5px 5px 0 0;
  padding: 5px;
  background-color: #fefefe;
  color: #2e3131;
}



